@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

/*variables Utilizadas*/
/*HEADER*/
header {
  background-color: #d7dedc;
  display: flex;
  flex-direction: row; }
  header .index {
    text-decoration: none; }
  header h1 {
    padding-left: 20%;
    width: 75%;
    font-family: "Gemunu Libre", sans-serif;
    font-size: 50px;
    color: #29339b;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*repeat(cantidad, ancho)*/
    grid-template-areas: "a1 a1 a1" "a0 a2 a2"  "a0 a4 a3"; }
    header h1 #richards {
      grid-area: a1; }
    header h1 #avionics {
      grid-area: a2; }
    header h1 #corporation {
      grid-area: a3; }
  header #titulo {
    width: 80%;
    display: flex;
    flex-direction: row; }
  header #logo {
    box-sizing: unset;
    width: 100px;
    padding: 15px 15px 10px 25px; }

/*REDES SOCIALES*/
#media {
  width: 25%; }
  #media .icon {
    border-radius: 15px;
    border: 5px solid #d7dedc;
    width: 50px;
    margin: 5px;
    transition: 1.5s; }
  #media .icon:hover {
    transform: scale(1.3); }

/*NAV*/
.navbar {
  background-color: #276fbf;
  padding-top: 3px; }
  .navbar .navbar-brand {
    display: none; }
  .navbar #navbarNav {
    justify-content: space-evenly; }

.navbar-light .navbar-toggler {
  color: #525151;
  border-color: black; }

.navbar-light .navbar-nav {
  width: 100%;
  justify-content: space-around;
  align-content: center; }
  .navbar-light .navbar-nav .nav-link {
    color: #d7dedc;
    width: fit-content;
    font-size: 20px;
    font-family: "Mulish", sans-serif; }

/*Se utilizo extension "COMMON" para poner elementos que 
tienen iguales características en diferentes secciones*/
/*COMMON*/
main {
  display: flex;
  flex-direction: column;
  background-color: #d7dedc;
  font-family: "Mulish", sans-serif;
  padding-bottom: 10px; }
  main h2 {
    font-size: 25px;
    font-family: "Mulish", sans-serif;
    text-align: left;
    padding: 20px 20px; }
  main p {
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    margin: 5px 20px; }
  main h3 {
    margin: 5px 20px;
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    text-decoration: underline;
    padding-top: 10px;
    padding-top: 10px; }
  main .card, main .cardIndustria .industria, .cardIndustria main .industria, main #listaAlcances .alcances, #listaAlcances main .alcances, main .gallery .trabajosProyectos, .gallery main .trabajosProyectos {
    display: grid;
    grid-template-columns: 100%;
    align-content: space-around;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    background-color: #9faab6;
    border: #9faab6;
    border-radius: 6px;
    border-radius: 1rem;
    padding: 10px; }
  main .fa-tools {
    color: #5c4600; }
  main .fa-headset {
    color: black; }
  main .fa-location-dot {
    color: red; }
  main .fa-gas-pump {
    color: rgba(7, 7, 216, 0.719); }
  main .fa-plane-departure {
    color: #27505e; }

/*si lo anido con el main no funciona*/
/*FOOTER*/
footer {
  background-color: #0a3e97;
  background-image: var(--bs-gradient);
  color: #d7dedc;
  font-family: "Mulish", sans-serif;
  padding: 20px; }
  footer h4 {
    font-size: 18px; }
    footer h4 a {
      text-decoration: none;
      color: #d7dedc;
      transition: 1s; }
    footer h4 a:hover {
      color: black; }
    footer h4 i {
      color: black; }

/*INDEX MAIN*/
#indexSectionHeader {
  text-align: center; }

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px; }

#carouselExampleSlidesOnly {
  width: 75%; }

.cardIndustria {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .cardIndustria .industria {
    row-gap: 10px; }
    .cardIndustria .industria .industriaPic {
      width: 150px;
      border-radius: 4px; }
    .cardIndustria .industria .btn-primary {
      background-color: #276fbf;
      border-color: #276fbf;
      transition: 1.5s; }
    .cardIndustria .industria .btn-primary:hover {
      color: #020202; }

/*EMPRESA*/
.nosotros {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-areas: "a1 a2";
  justify-items: center;
  align-items: top;
  column-gap: 5%;
  font-size: 20px;
  padding-bottom: 20px; }
  .nosotros #nosotrosFoto {
    grid-area: a2;
    width: 65%;
    border-radius: 5px; }
  .nosotros #ubicacionTexto {
    grid-area: a1;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .nosotros #ubicacionTexto ul {
      padding-top: 10px;
      margin-left: 20px;
      list-style: none;
      display: flex;
      flex-direction: column; }
  .nosotros .iframe {
    width: 80%;
    grid-area: a2;
    text-align: center; }
    .nosotros .iframe #ubicacionMapa {
      border-radius: 5px;
      width: 80%;
      height: 80%; }

/*SERVICIOS*/
.picture {
  display: grid;
  grid-template-columns: 30% 30%;
  justify-content: space-evenly;
  justify-items: center; }

.pic {
  width: 70%;
  border-radius: 4px; }

.card-img-top {
  width: 200px; }

.parrafoTexto {
  padding-bottom: 15px; }

/*ALCANCES*/
#listaAlcances {
  padding-top: 10px;
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  #listaAlcances .alcances {
    list-style: none;
    width: 20%; }

/*PROYECTOS*/
.gallery {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-areas: "a10 a20 a30" "a40 a50 a60";
  justify-content: center;
  gap: 20px; }
  .gallery .trabajosProyectos #pic1 {
    grid-area: a10; }
  .gallery .trabajosProyectos #pic2 {
    grid-area: a20; }
  .gallery .trabajosProyectos #pic3 {
    grid-area: a30; }
  .gallery .trabajosProyectos #pic4 {
    grid-area: a40; }
  .gallery .trabajosProyectos #pic5 {
    grid-area: a50; }
  .gallery .trabajosProyectos #pic6 {
    grid-area: a60; }

/*CONTACTO*/
#contactForm {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  #contactForm #contact {
    width: 400px;
    border-radius: 30px; }
  #contactForm form {
    width: 50%;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center; }
    #contactForm form input, #contactForm form textarea, #contactForm form button {
      width: 300px;
      height: 30px;
      font-family: "Mulish", sans-serif;
      font-size: 16px;
      border: solid #9ca0bb 2px;
      border-radius: 6px; }
    #contactForm form textarea {
      height: 150px; }

/****MEDIA QUERIES****/
@media screen and (max-width: 600px) {
  /*Se modifico a 600px debido a que medidas intermedias entre 600px y 400px
    la experiencia del usuario no seria la optima y habría overflow de elementos. por medidas debajo de 430px es optimo para celulares
    disponibles en el mercado*/
  ::after, ::before {
    box-sizing: unset; }
  header {
    display: grid;
    grid-template-columns: 100%; }
    header #titulo {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
    header #logo {
      width: 90px;
      padding: 10px 5px 10px 35px; }
    header h1 {
      font-size: 30px;
      display: flex;
      flex-direction: column; }
    header #media {
      width: 100%;
      display: grid;
      grid-template-columns: 40% 40%;
      justify-content: right; }
  /*COMMON*/
  main h2 {
    text-align: center; }
  main h3 {
    margin: 5px;
    padding: 5px;
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    text-align: center; }
  main p {
    margin: 5px;
    padding: 5px; }
  /*INDEX*/
  #carouselExampleSlidesOnly {
    width: 90%; }
  .cardIndustria {
    padding-top: 20px;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    row-gap: 10px; }
  /*NAVBAR*/
  .navbar {
    height: fit-content; }
  .navbar-toggler {
    width: 100%;
    padding: 0; }
  /*EMPRESA*/
  .nosotros {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .nosotros #nosotrosFoto {
      width: 75%; }
    .nosotros #ubicacionTexto {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .nosotros #ubicacionTexto ul {
        margin-left: 5px; }
    .nosotros .iframe {
      height: 300px; }
      .nosotros .iframe #ubicacionMapa {
        height: 90%; }
  /*SERVICIOS*/
  .picture {
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 20px;
    padding-right: 20px;
    padding-left: 20px; }
    .picture .pic {
      width: 220px; }
  /*ALCANCES*/
  #listaAlcances {
    padding: 10px;
    font-size: 20px;
    list-style: none;
    display: grid;
    grid-template-columns: 100px;
    grid-template-areas: "c1"  "c2" "c3"  "c4";
    justify-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    row-gap: 10px;
    column-gap: 10px; }
    #listaAlcances .alcances {
      border-radius: 6px;
      width: 150px; }
      #listaAlcances .alcances #cessna {
        grid-area: c1; }
      #listaAlcances .alcances #piper {
        grid-area: c2; }
      #listaAlcances .alcances #avionicsAlcances {
        grid-area: c3; }
      #listaAlcances .alcances #tecnam {
        grid-area: c4; }
  /*TRABAJOS Y PROYECTOS*/
  .gallery {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    justify-items: center;
    grid-template-areas: "a10" "a20" "a30" "a40" "a50" "a60";
    row-gap: 20px;
    padding: 20px; }
    .gallery #pic1 {
      grid-area: a10; }
    .gallery #pic2 {
      grid-area: a20; }
    .gallery #pic3 {
      grid-area: a30; }
    .gallery #pic4 {
      grid-area: a40; }
    .gallery #pic5 {
      grid-area: a50; }
    .gallery #pic6 {
      grid-area: a60; }
    .gallery main {
      padding: 1rem; }
  /*CONTACTO*/
  #contact {
    display: none; } }
