/*ALCANCES*/

#listaAlcances{
    padding-top: 10px;
    font-family: $fontTexto;
    font-size: $textSize;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.alcances {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: $backgroundCard;
    border: $backgroundCard;
    border-radius: 6px;
    width: 17%;
    padding: 0;
}