/*EMPRESA*/
.nosotros {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-areas: "a1 a2";
    justify-items: center;
    align-items: top;
    column-gap: 5%;
    font-size: $textSize;
    padding-bottom: 20px;
    #nosotrosFoto{
        grid-area: a2;
        width: 80%;
        border-radius: 5px;
    }
    #ubicacionTexto {
        grid-area: a1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        ul{
            padding-top: 10px;
            margin-left: 20px;
            list-style: none;
            display: flex;
            flex-direction: column;
        }
        iframe{
            width: 75%;
            height: 75%;
            border-radius: 5px;
                #ubicacionMapa {
                grid-area: a2;
            }
        }
    }
}




