/*FOOTER*/
footer {
    background-color: $backgroundFooter;
    background-image: var(--bs-gradient);
    color: $contrastText;
    font-family: $fontTexto;
    padding: 20px;
    }
p {
    i{
    color: rgb(0, 0, 0);
    }
}
a{
    text-decoration: none;
    color: $contrastText;
}
a:hover{
    color: rgb(0, 0, 0);
}