/*FOOTER*/
footer {
    background-color: $backgroundFooter;
    background-image: var(--bs-gradient);
    color: $contrastText;
    font-family: $fontTexto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    h4 {
        padding-top: 5px;
        font-size: 18px;
        a{
            text-decoration: none;
            color: $contrastText;
            transition: 1s;
        }
        a:hover{
            color: rgb(0, 0, 0);
        }
        i{
            color: rgb(0, 0, 0);
        }
    }
    #developer{
        h4{
            font-family: 'Orbitron', sans-serif;
        }
    }
}
