/*HEADER*/
header {
    background-color: $backgroundHeader;
    background-image: $backgroundHeaderImage;
    display: flex;
    flex-direction: row;
    .index {
        text-decoration: none;
    }
    h1 {
        padding-left: 20%;
        width: 75%;
        font-family: $h1Font;
        font-size: $h1Size;
        color: $h1Color; 
        display: grid;
        grid-template-columns: repeat(3,1fr);/*repeat(cantidad, ancho)*/ 
        grid-template-areas:    "a1 a1 a1"
                                "a0 a2 a2" 
                                "a0 a4 a3" ;
            #richards {
                grid-area: a1;
            }
            #avionics {
                grid-area: a2;
            }
            #corporation{
                grid-area: a3;
            }
        }
    #titulo{
        width: 80%;
        display: flex;
        flex-direction: row;
    }
    #logo {
        box-sizing: unset;
        width: 100px;
        padding: 15px 15px 10px 25px;
    }
    
}
    /*REDES SOCIALES*/
#media {
    width: 25%;
    .icon{
        border-radius: 15px;
        border: 5px solid rgb(215, 222, 220);
        width: 50px;
        margin: 5px;
        transition: 1.5s;
    }
    .icon:hover{
        transform: scale(1.3);
    }
}