/*INDEX MAIN*/
#indexSectionHeader{
    text-align: center;
}
.carousel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    padding-bottom: 20px;
}

#carouselExampleSlidesOnly{
    @include carousel(75%, center)
}
.cardIndustria{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .industria{
        @extend .card;
        row-gap: 10px;
        .industriaPic{
            width: 150px;
            border-radius: 4px;
        }
        .btn-primary{
            background-color: $backgroundNav;
            border-color: $backgroundNav;
            transition: 1.5s;
        }
        .btn-primary:hover{
            color: rgb(2, 2, 2);
        }
    }
}