/****MEDIA QUERIES****/

@media screen and (max-width: 600px) { /*Se modifico a 600px debido a que medidas intermedias entre 600px y 400px
    la experiencia del usuario no seria la optima y habría overflow de elementos. por medidas debajo de 430px es optimo para celulares
    disponibles en el mercado*/
    ::after, ::before {
        box-sizing: unset;
    }
    header{
        display: grid;
        grid-template-columns: 100%;
        #titulo{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        #logo {
            width: 90px;
            padding: 10px 5px 10px 35px;
        }
        h1 {
            font-size: 30px;
            display: flex;
            flex-direction: column;
        }
        #media{
            width: 100%;
            display: grid;
            grid-template-columns: 40% 40%;
            justify-content:right;
        }
    }
    /*COMMON*/
    main {
        h2{
            font-size: 30px;
            padding-top: 15px;
            padding-bottom: 10px;
        }
        h3{
            margin: 5px;
            padding: 10px;
            padding-bottom: 0px;
            font-family: $fontTexto;
            font-size: 20px;
            text-align: center;
        }
        p{
            text-align: center;
            margin: 5px ;
            padding: 5px;
        }
    }
    /*INDEX*/
    #landing{
        #landingUno{
            width: 100%;
            display: flex;
            flex-direction: column;
            .carousel{
                width: fit-content;
                padding-bottom: 15px;
                #carouselExampleSlidesOnly{
                    @include carousel(90%)
                }
            }
            #representacion{
                width: 100%;
                .cardIndustria{
                    padding-top: 20px;
                    display: grid;
                    grid-template-columns: 60%;
                    justify-items: center;
                    row-gap: 10px;
                }
            }
        }
        #landingDos{
            #valores{
                display: grid;
                grid-template-columns: auto;
                justify-items: center;
                row-gap: 10px;;
            
            }
        }
    }


    
    /*NAVBAR*/
    .navbar{
        height: fit-content;
    }
    .navbar-toggler {
        width: 100%;
        padding: 0;
    }
    /*FOOTER*/
    footer{
        display: flex;
        flex-direction: column;
        #line{
            height: 1px;
            background-color: white ;
            padding: 3px;
        }
    }
    /*EMPRESA*/
    .nosotros{
        display: flex;
        flex-direction: column;
        align-items: center;
        #nosotrosFoto{
            width: 75%;
        }
        #ubicacionTexto {
            display: flex;
            flex-direction: column;
            justify-content: center;
            ul{
                margin-left: 5px;
            }
        }
        .iframe{ 
            height: 300px;
            #ubicacionMapa{
                height: 90%;
            }
        }
    }
    /*SERVICIOS*/
    .picture {
        display: grid;
        grid-template-columns: 100%;
        justify-content: space-evenly;
        align-items: center;
        row-gap: 20px;
        padding-right: 20px;
        padding-left: 20px;
        .pic{
            width: 220px;
        }
    }
    /*ALCANCES*/
    #alcances{
        display: flex;
        flex-direction: column;
        p{
            width: 100%;
        }
        #listaAlcances{
            width: 100%;
            padding: 10px;
            font-size: 20px;
            list-style: none;
            display: grid;
            grid-template-columns: 100px;
            grid-template-areas:    "c1" 
                                    "c2"
                                    "c3" 
                                    "c4";
            justify-items:center;
            justify-content: center; 
            justify-items: center;                    
            text-align: center;
            row-gap: 10px;
            column-gap: 10px;
            .alcances{
                border-radius: 6px;
                width: 150px;
                #cessna{
                    grid-area: c1;
                }
                #piper {
                    grid-area: c2;
                }
                #avionicsAlcances{
                    grid-area: c3;
                }
                #tecnam{
                    grid-area: c4;
                }
            }
        }
    }
    /*TRABAJOS Y PROYECTOS*/
    .gallery{
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        justify-items: center;
        grid-template-areas:    "a10"
                                "a20"
                                "a30"
                                "a40"
                                "a50"
                                "a60";
        row-gap: 20px;
        padding: 20px;
        #pic1{
            grid-area: a10;
        }
        #pic2{
            grid-area: a20;
        }
        #pic3{
            grid-area: a30;
        }
        #pic4{
            grid-area: a40;
        }
        #pic5{
            grid-area: a50;
        }
        #pic6{
            grid-area: a60;
        }
        main{
            padding: 1rem;
        }
    }
    /*CONTACTO*/
    #contact{
        display: none;
    }
}