/*PROYECTOS*/
.gallery{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-areas:    "a10 a20 a30"
                            "a40 a50 a60";
    justify-content: center;
    gap: 30px;
    .trabajosProyectos{
        @extend .card;
        .pic{
            width: 60%;
        }
        #pic1{
            grid-area: a10;
        }
        #pic2{
            grid-area: a20;
        }
        #pic3{
            grid-area: a30;
        }
        #pic4{
            grid-area: a40;
        }
        #pic5{
            grid-area: a50;
        }
        #pic6{
            grid-area: a60;
        }
    }
}


