$h1Font: 'Gemunu Libre', sans-serif;
$h1Color: rgb(41, 51, 155); 
$h2Size:25px;
$fontTexto: 'Mulish', sans-serif;
$textSize: 20px;
$backgroundHeader: rgb(215, 222, 220);
$backgroundMain: rgb(215, 222, 220);
$backgroundFooter: rgb(10, 62, 151);
$backgroundNav: rgb(39, 111, 191);
$backgroundCard: rgb(159, 170, 182);
$borderCard: solid rgb(156, 160, 187) 2px;
$contrastText: rgb(215, 222, 220);
$iconColor: rgb(95, 102, 109);